# Ignore everything
*

# But include these files
!.gitattributes
!.gitignore
!LICNESE

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*Samples/algo-101-04-01.py



# Ignore .gitignore in Testbed
*Testbed/.gitignore