# Ignore everything
*

# But include these files
!.gitattributes
!.gitignore
!LICNESE
!README.MD

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/Samples/algo.py
!*/Samples/tkinter-app.py

# Ignore .gitignore in Testbed
*Testbed/.gitignore